# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist

# Firebase local configurations and logs
.firebase/
*.log
functions/node_modules

# Local Environment Variables (IMPORTANT: keeps keys private)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
